# Java / Spring Boot kalıntıları
*.class
target/
.idea/
.mvn/
*.jar
*.war

# Node / React / Vue kalıntıları
node_modules/
dist/
.env
.env.local
.env.*.local

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db
